/* * {
    background-color: rgb(6, 22, 30)

} */
body{
    margin: 0;
}

.img1 {
    height: 25%;
    width: 35%;
    margin: 1%
}

.img2 {
    height: 5%;
    width: 5%;
}

h1, h3 {
   color: #1BA098;
   font-weight: lighter;

}
